{% extends 'base.html' %} {% block content %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <style>     body{       background-image: url(https://media0.giphy.com/media/zvYUTbMzJmSAGtjLqF/giphy.gif?cid=790b7611bfe7219d7308ef12767dd93b82db15a7b0a7e7b7&rid=giphy.gif&ct=g);     }   </style>
    <title>Car Detail</title>
  </head>
  <body>
    <h1 class='welcome'>Welcome To Car Detail</h1>
    <hr />
  </body>
  {% endblock %}
</html>
